.Home-component {
  color: white;
  height: 95vh;
  position: relative;
  margin-bottom: 3rem;
  .home-component-items {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-left: 18rem;
  }
  p {
    font-size: 1.2rem;
    // &::selection{
    //   background-color: white;
    //   color: black;
    // }
  }
  h1 {
    font-size: 9rem;
    &::selection {
      background-color: white;
      color: black;
    }
  }
  .home-component-items-div-1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .home-one-line-para {
    font-size: 1.8rem;
  }
  .home-component-items-bottom {
    display: flex;
    gap: 2rem;
    .home-component-items-bottom-p1 {
      border: 1px solid white;
      padding: 0.3rem 0.7rem;
      border-radius: 2px;
      display: flex;
      align-items: center;
      gap: 0.2rem;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
      }
    }
    .home-component-items-bottom-p2 {
      text-decoration: underline white;
      cursor: pointer;
    }
  }
}

.Big-video {
  width: 100vw;
  height: 100vh;
  margin-bottom: 5rem;
  .Big-video-Video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.vertical-line {
  width: 96vw;
  margin: auto;
  height: 1px;
  background-color: white;
}

.Home-part-3 {
  width: 96vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 90vh;
  margin: auto;
  padding: 1rem 0;
  .Home-part-3-top {
    color: white;
    display: flex;
    justify-content: space-between;
    p {
      &:nth-child(2) {
        text-decoration: underline white;
        cursor: pointer;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  .Home-part-3-cards {
    display: flex;
    gap: 1rem;
    .Home-part-3-card {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      cursor: pointer;
      &:hover {
        p:first-child {
          text-decoration: underline white;
        }
      }
      .Home-part-3-card-img {
        width: 22rem;
        height: 22rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      color: white;
    }
  }
}

.Home-part-4 {
  width: 96vw;
  margin: auto;
  padding: 1rem 0;
  height: 35vh;
  .Home-part-4-heading {
    color: white;
    width: 100%;
    font-family: none;
    font-size: 3.4rem;
  }
}

.Home-part-5 {
  display: flex;
  color: #818181;
  width: 96vw;
  margin: auto;
  gap: 2rem;
  p {
    font-size: 1.2rem;
    cursor: pointer;
    padding-bottom: 0.8rem;
    &:first-child {
      color: white;
      border-bottom: 1px solid white;
    }
  }
}
.vertical-line-gray {
  width: 96vw;
  margin: auto;
  height: 1px;
  background-color: rgb(25, 25, 25);
}
.Home-part-5-main-part {
  width: 96vw;
  margin: auto;
  display: flex;
  height: 130vh;
  .Home-pt-5-left {
    width: 30%;
    height: fit-content;
    padding: 3rem 0;
    p {
      color: white;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    p {
      &:last-child {
        display: flex;
        align-items: center;
        text-decoration: underline white;
        width: fit-content;
        gap: 0.6rem;
        font-size: 1.1rem;
        cursor: pointer;
        &:hover {
          border: none;
        }
      }
    }
  }
  .Home-pt-5-right {
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 3rem 0;
    .Home-pt-5-right-div {
      border: 1px solid rgb(65, 65, 65);
      position: absolute;
      right: 0;
      width: 65%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      .Home-pt-5-right-div-header {
        border-bottom: 1px solid rgb(65, 65, 65);
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        padding-bottom: 1.5rem;
        p {
          font-size: 1.2rem;
          color: #98a0a8;
        }
      }
      .Home-pt-5-right-div-images {
        color: white;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
          width: 100%;
          object-fit: contain;
          user-select: none;
        }
      }
    }
  }
}

.Home-part-6 {
  width: 96vw;
  margin: auto;
  padding: 1rem 0;
  color: white;
  font-family: none;
  font-size: 3.5rem;
}
.Home-part-7-images {
  width: 96vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding-bottom: 5rem;
  .Home-part-7-image1,
  .Home-part-7-image2 {
    width: 49%;
    color: white;
    font-size: 0.8rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.Home-part-8 {
  padding: 2rem 0;
  width: 96vw;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 6rem;
  .Home-pt-8-up {
    p {
      font-size: 3rem;
      font-weight: bold;
    }
  }
  .Home-pt-8-down {
    display: flex;
    justify-content: space-between;
    div {
      width: 50%;
    }
    p:first-child {
      font-size: 4rem;
      font-weight: 600;
    }
  }
}

.Home-part-9 {
  color: white;
  width: 96vw;
  margin: auto;
  .Home-pt-9-nav {
    padding: 0.7rem 0;
    display: flex;
    justify-content: space-between;

    p:first-child {
      font-size: 3rem;
      font-family: none;
    }
    p:last-child {
      text-decoration: underline white;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .Home-pt-9-images {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 4rem;
    padding-bottom: 6rem;
    .Home-part-9-card {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      cursor: pointer;
      p {
        font-size: 1.1rem;
        font-weight: 600;
      }
      .Home-part-9-card-img {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.Home-part-10 {
  display: flex;
  flex-direction: column;
  width: 96vw;
  margin: auto;
  color: white;
  .Home-pt-10-line-1 {
    display: flex;
    width: 100%;
    padding: 0.7rem 0;
    border-bottom: 1px solid gray;
    div {
      width: 50%;
      font-size: 1.6rem;
      padding-bottom: 5rem;
      &::selection {
        background-color: white;
        color: black;
      }
    }
    div:first-child {
      font-size: 3rem;
      font-family: none;
      &::selection {
        background-color: white;
        color: black;
      }
    }
  }

  .Home-pt-10-line-2 {
    display: flex;
    width: 100%;
    padding: 0.7rem 0;
    border-bottom: 1px solid gray;

    div {
      width: 50%;
      font-size: 1.1rem;
      padding-bottom: 5rem;
      &::selection {
        background-color: white;
        color: black;
      }
    }
    div:first-child {
      font-size: 1.6rem;
      font-weight: bold;
      &::selection {
        background-color: white;
        color: black;
      }
    }
    .Home-pt10-l2-div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      p:last-child {
        text-decoration: underline white;
      }
    }
  }

  .Home-pt-10-line-3 {
    display: flex;
    width: 100%;
    padding: 0.7rem 0;
    border-bottom: 1px solid gray;
    div {
      width: 50%;
      font-size: 1.1rem;
      padding-bottom: 5rem;
      &::selection {
        background-color: white;
        color: black;
      }
    }
    div:first-child {
      font-size: 1.6rem;
      font-weight: bold;
      &::selection {
        background-color: white;
        color: black;
      }
    }
    .Home-pt10-l3-div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      p:last-child {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        text-decoration: underline white;
      }
    }
  }

  .Home-pt-10-line-4 {
    display: flex;
    width: 100%;
    padding: 0.7rem 0;
    div {
      width: 50%;
      font-size: 1.1rem;
      padding-bottom: 5rem;
      &::selection {
        background-color: white;
        color: black;
      }
    }
    div:first-child {
      font-size: 1.6rem;
      font-weight: bold;
      &::selection {
        background-color: white;
        color: black;
      }
    }

    .Home-pt10-l4-div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      p:last-child {
        text-decoration: underline white;
        display: flex;
        align-items: center;
      }
    }
  }
}

.Home-part-11 {
  width: 96vw;
  margin: auto;
  color: white;
  p {
    font-size: 3.5rem;
    font-family: none;
  }
}

.Home-part-12-video {
  width: 96vw;
  margin: auto;
  border-bottom: 1px solid #818181;
  padding: 8rem 0.3rem;
  video {
    width: 100%;
    object-fit: contain;
  }
}
.Home-part-13 {
  width: 96vw;
  margin: auto;
  display: flex;
  color: white;
  padding: 1rem 0;
  padding-bottom: 9rem;
  .Home-pt-13-left {
    width: 50%;
    p {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
  .Home-pt-13-right {
    width: 50%;
    .Home-pt-13-rt-dv-1 {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      font-size: 1.1rem;
      padding-bottom: 3rem;
      p:first-child {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}
.Home-part-14 {
  width: 96vw;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 5rem;
  padding-bottom: 10rem;
  p {
    font-size: 4.5rem;
    font-family: none;
  }
  button {
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    background: none;
    font-size: 1.7rem;
    width: 96vw;
    border-radius: 5px;
    justify-content: center;
    padding: 1.5rem 0;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
    }
    &::selection {
      background-color: white;
      color: black;
    }
  }
}
.Home-part-15 {
  width: 96vw;
  margin: auto;
  color: white;
  display: flex;
  .Home-pt-15-left {
    width: 50%;
    img {
      width: 8rem;
      user-select: none;
    }
  }
  .Home-pt-15-right {
    width: 100%;
    display: flex;
    padding-bottom: 10rem;
    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      p {
        font-weight: bold;
        font-size: 1.2rem;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        li {
          cursor: pointer;
          font-size: 1.1rem;
          &:hover {
            text-decoration: underline;
          }
          &::selection {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
.Home-part-16 {
  display: flex;
  width: 96vw;
  margin: auto;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: white;
  .Home-pt-16-left {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 50%;
    p:not(:first-child) {
      cursor: pointer;
      &:hover:not(:first-child) {
        text-decoration: underline white;
      }
    }
    p:first-child {
      font-weight: bold;
      margin-bottom: 0.3rem;
    }
  }
  .Home-pt-16-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .Home-pt-16-lt-links {
      display: flex;
      gap: 3rem;
      p {
        cursor: pointer;
        &:hover {
          text-decoration: underline white;
        }
      }
    }
    .Home-pt-16-lt-TOPBTN {
      p {
        display: flex;
        gap: 0.3rem;
        align-items: center;

        cursor: pointer;
        &:hover {
          text-decoration: underline white;
        }
      }
      span {
        font-size: 0.9rem;
      }
    }
  }
}
.construction-div {
  width: 100vw;
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    border: 1px solid white;
    padding: 2rem;
    border-radius: 0.7rem;
    cursor: not-allowed;
  }
}
