nav {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  position: fixed; /* Use 'fixed' instead of 'sticky' */
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  align-items: center;
  padding: 1.2rem 1.5rem;
  width: 100vw;
  .logo-with-items {
    display: flex;
    align-items: center;
    gap: 8rem;
    .logo {
      width: 8rem;
      cursor: pointer;
      img {
        width: 100%;
        user-select: none;
      }
    }
    
  }
  ul {
    display: flex;
    list-style-type: none;
    gap: 1.4rem;
    li {
      cursor: pointer;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      gap: 0.2rem;

      &:hover {
        text-decoration: underline white;
      }
      &::selection{
        background-color: white;
        color: black;
      }
    }
  }
  .try-chatgpt-btn {
    padding: 0.4rem .6rem;
    border: 1px solid white;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
      background-color: #fff;
      color: black;
    }
  }

  .menu_btn{
    display: none;
  }
}
.Small_screen_menu_container{
  display: none;
}